/*.col-lg-1, .col-lg-2 {
    border:2px solid red;
}
*/

.section {
    font-size: 15px;
    font-family: sans-serif;
    background-image: url("../img/01.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.b1 {
    text-align: center;
    display: inline-block;
    color: rgba(255,255,255,.9);
    text-decoration: none;
    border-width: 0px;
    background: none;
    transition: 0.4s;
}

.b1:active {
    color: rgba(255,255,255,.9);
}

.b1:hover {
    color: #061e37;
}

.b2 {
    display: inline-block;
    font-size: 12px;
    font-family: sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 7px 20px;
    outline: none;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    background: none;
    transition: 0.4s;
}

.b2:active {
    color: rgba(255,255,255,.9);
    background: linear-gradient(#0cc1ca, #0bb4bd);
}

.b2:hover {
    background-color:rgba(255,255,255,.9);
    color: #061e37;
}

.logoImg {
    display: inline-block;
}

.b3 {
    color: 061e37;
    margin: 40px 0 0 0;
    text-decoration: none;
    outline: none;
    border-width: 0px;
    border-style: solid none;
    border-radius: 3px;
    background: #fff;
    transition: 0.4s;
    padding: 10px 20px;
}
.b3:hover {
     background-color: #061e37;
     color: rgba(255,255,255,.9);

    }
.b3:active {
     background: linear-gradient(#061e37, #08284b) #061e37; 
    }

.bb3 {
    margin-left: 30px;
}

.bb4 {
    margin-left: 14px;
}

.col-lg-5, .logo {
    color: #fff;
}

.col-lg-5 {
    margin-top: 170px;
}